@font-face {
    font-family: "Nova Regular";
    src: url(/fonts/FontsFree-Net-NOVABOLD.ttf);
    src: url(/fonts/FontsFree-Net-NOVABOLD.ttf) format('truetype');
}

body {
    background-image: linear-gradient(to bottom, #a6ddff, #b9b6e5);
    width: 100%;
    overflow-x: hidden;
}

h2 {
    color:black;
    font-family: "Nova Regular";
    font-size: 3rem;
}

a {
    text-decoration: none;
    
}


/* NAV SECTION */



.my-icons img:hover, .what-we-do img:hover {
    filter: brightness(150%);
    transform: scale(1.05);
}

.my-icons a {
    padding-right: 10px;
}

/* WHAT WE DO SECTION */
.what-we-do h2 {
    padding-top: 12px;
    height: 80px;
    width: 50%;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
}

.kids {
    background-image: url(/images/bg-1.png);
}

.kids:hover {
    background-image: url(/images/bg-1b.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.what-we-do .weddings {
    background-image: url(/images/bg-2.png);
    width: 40%;
}
.what-we-do .weddings:hover {
    background-image: url(/images/bg-2b.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.what-we-do .baby {
    background-image: url(/images/bg-3.png);
    padding-top: 6px;
}

.what-we-do .baby:hover {
    background-image: url(/images/bg-3b.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.what-we-do .festival-fete {
    background-image: url(/images/bg-4.png);
    width: 37%;
}

.what-we-do .festival-fete:hover {
    background-image: url(/images/bg-4b.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.what-we-do .festival {
    background-image: url(/images/bg-5.png);
}

.what-we-do .festival:hover {
    background-image: url(/images/bg-5b.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/* .card-img:before {
    content: "";
    position: absolute;
    top: 93%;
    left: 0;
    height: 100%;
    width: 150%;
    background: black;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-50deg);
}
.card-img:after {
    content: "";
    position: absolute;
    top: 93%;
    left: 0;
    height: 100%;
    width: 150%;
    background: black;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-50deg);
} */



/* Carousel Styling */



/* @media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
 */

.card-img {
    height: 213px;
    /* width: 300px; */
    position: relative;
    overflow: hidden;
}


@media (max-width: 767px) {
    #featureContainer .carousel-inner .carousel-item>div {
        display: none;
    }

    #featureContainer .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#featureContainer .carousel-inner .carousel-item.active,
#featureContainer .carousel-inner .carousel-item-next,
#featureContainer .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    #featureContainer .carousel-inner .carousel-item-end.active,
    #featureContainer .carousel-inner .carousel-item-next {
        transform: translateX(16.8%);
    }

    #featureContainer .carousel-inner .carousel-item-start.active,
    #featureContainer .carousel-inner .carousel-item-prev {
        transform: translateX(-16.8%);
    }

    /* #featureContainer .card img {
        width: 100%;
        height: 100%;
    } */

    #featureContainer .carousel-item {
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    #featureContainer .card img {
        width: 100%;
        height: 75vh;
    }
}

#featureContainer .carousel-inner .carousel-item-end,
#featureContainer .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

#featureContainer .card {
    border: 0;
}

#featureContainer .card {
    position: relative;
}

#featureContainer .card .card-img-overlays {
    position: absolute;
    bottom: 15%;
    left: 10%;
    color: #fff;
    font-weight: bolder;
}

#featureContainer a {
    text-decoration: none;
}

#featureContainer .indicator {
    background: #bc7fdd;
    border: 1px solid rgb(202, 202, 202);
    padding: 3px 6px 3px 6px;
}

#featureContainer .indicator:hover {
    background-color: #cdaede;
    border: 1px solid #ffffff;
    transition: 200ms;
}

.fa-chevron-right {
    padding: 0px 1.8px;
}

#featureContainer .indicator:hover {
    color: white;
    transition: 200ms;
}

#featureContainer .indicator {
    color: lightgray;
}

#featureContainer .float-end {
    padding-top: 10px;
}



/* Stars */

i {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.8);
    position: absolute;
    transition: all 0.4s ease-in-out;
    transform: rotate(15deg);
    animation: shine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

i:after,
i:before {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to left, transparent, white, transparent);
    left: -34px;
    top: calc(50% - 1px);
    width: 80px;
    height: 2px;
}

i:before {
    width: 2px;
    height: 80px;
    left: calc(50% - 1px);
    top: -34px;
    background-image: linear-gradient(to bottom, transparent, white, transparent);
}

@keyframes shine {
    0% {
        transform: scale(0.1) rotate(-200deg);
    }

    55% {
        transform: scale(1.2) rotate(180deg);
    }

    100% {
        transform: scale(0.1) rotate(-200deg);
    }
}

#featureContainer {
    margin-top: -20px;
}

